In [3]:
#red 라는 글자와 blue 라는 글자를 20개 만들기

print(rep(c("red","blue"),20))

 [1] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[11] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[21] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[31] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"

In [6]:
print(c(seq(1,5,2),1:10,seq(1,10,2),rep(1:3,2)))

 [1]  1  3  5  1  2  3  4  5  6  7  8  9 10  1  3  5  7  9  1  2  3  1  2  3

In [13]:
# iris의 1~5번째 줄의 데이터만 추출해서 변수 (데이터프레임) 만들기

head(iris,5)
irisHead <- iris[1:5,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [15]:
# 행과 열을 뒤집는다.

t(irisHead)

             1      2      3      4      5
Sepal.Length 5.1    4.9    4.7    4.6    5.0
Sepal.Width  3.5    3.0    3.2    3.1    3.6
Petal.Length 1.4    1.4    1.3    1.5    1.4
Petal.Width  0.2    0.2    0.2    0.2    0.2
Species      setosa setosa setosa setosa setosa

In [29]:
#iris 에서 150 개 데이터중 10부터 10씩 15개 샘플링

iris[seq(10,150,10),]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

In [30]:
length(iris$Sepal.Length)

[1] 150

In [31]:
length(iris) #column개수

[1] 5

In [33]:
nrow(iris) 
ncol(iris)

[1] 150

[1] 5

In [39]:
# iris의 Sepal.Length의 최댓값과 최솟값의 차이가 평균보다 큰지 확인

max(iris$Sepal.Length)
min(iris$Sepal.Length)
max(iris$Sepal.Length)-min(iris$Sepal.Length)
mean(iris$Sepal.Length)
max(iris$Sepal.Length)-min(iris$Sepal.Length)>mean(iris$Sepal.Length)

[1] 7.9

[1] 4.3

[1] 3.6

[1] 5.843333

[1] FALSE

In [43]:
# iris에서 1~10까지의 데이터중 Sepal.Length와 Sepal.Width 만 출력

iris[1:10,1:2]
iris[1:10,c("Sepal.Length","Sepal.Width")]

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

In [48]:
print(head(iris))
tail(iris)
str(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [52]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [53]:
# factor Type 인 Species에서 문자와 숫자로 각각 가져오기

print(as.character(iris$Species))
print(as.numeric(iris$Species))

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

---
# 벡터 계산

In [55]:
x <- c(3,6,9,12,15)
print(x+1)

[1]  4  7 10 13 16

In [56]:
print(x+1:5) #length를 확인하고 동일할 경우에만 계산하기!

[1]  4  8 12 16 20

In [58]:
# 벡터 합치기

x <- c(3,5,6,12,15)
y <- 1:5
append(x,y)

 [1]  3  5  6 12 15  1  2  3  4  5

In [61]:
length(append(iris$Sepal.Length,iris$Sepal.Width))

[1] 300

In [63]:
length(c(iris$Sepal.Length,iris$Sepal.Width))

[1] 300

In [70]:
# iris의 Sepal.Length 의 중복되지 않은 갯수의 percent 구하기

length(iris$Sepal.Length)
length(unique(iris$Sepal.Length))
round(length(unique(iris$Sepal.Length))/length(iris$Sepal.Length)*100,1)

[1] 150

[1] 35

[1] 23.3

In [73]:
# iris의 Sepal.Length의 중복된 갯수의 percent 구하기
100-round(length(unique(iris$Sepal.Length))/length(iris$Sepal.Length)*100,1)

round((length(iris$Sepal.Length)-length(unique(iris$Sepal.Length)))/length(iris$Sepal.Length)*100,1)

[1] 76.7

[1] 76.7

# 문자열 관련 함수

In [78]:
x <- c('a','b','c','d','e')
print(x)
print(x[1:2])
paste(x[1],x[2])

[1] "a" "b" "c" "d" "e"
[1] "a" "b"

[1] "a b"

In [80]:
paste("Hello","World!") #알아서 한칸씩 띄고 붙여줌

[1] "Hello World!"

In [85]:
# iris의 1, 51, 101번의 Species만 한꺼번에 출력하기
paste(iris$Species[1],":",iris$Species[51],":",iris$Species[101])

[1] "setosa : versicolor : virginica"

In [87]:
# 문자열 출력

cat("Hello","\n", "World!")

Hello
 World!

In [97]:
#Hello 
#World! 이렇게 출력되게

cat("Hello\nWorld!") #콤마가 텝 기능을 함

Hello
World!

In [98]:
cat("90\t80\t70")

90	80	70

In [1]:
paste("010","1111","2222",sep="-") #separation 의 기본값은 한칸 띄는 것

[1] "010-1111-2222"

[1] "character"

# 문자열 추출하기

In [102]:
str01 <- "abcdefghijklmn"
substring(str01,2,5)
str02 <- "가나다라마바사"
substring(str02,1,3)

[1] "bcde"

[1] "가나다"

In [119]:
# Ex : 출력되는 x중 4와 7사이에 있는 것은 몇개인가
set.seed(123)
x <- runif(5,1,20)
print(x)

x>4 & x<7

sum(x>4 & x<7)

[1]  6.463973 15.977798  8.770562 17.777331 18.868878

[1]  TRUE FALSE FALSE FALSE FALSE

[1] 1

# 행렬 (Matrix)

In [120]:
# 행렬 : 2차원 자료를 저장하는 자료형 
# 행렬은 데이터 형태가 모두 일치 되어야 구성

#Vector로 행렬 만들기
vec1 <-c(1,2,3)
vec2 <-c(4,5,6)
vec3 <-c(7,8,9)

In [158]:
# 행으로 붙이기 :rbind (row binding)
mat1 <- rbind(vec1,vec2,vec3)

In [123]:
# 열로 붙이기 :cbind (column binding)
mat2 <- cbind(vec1,vec2,vec3)

In [135]:
# iris의 1~5번 데이터만 추출하여 irisHead 라는 변수에 넣기
irisHead <- head(iris,5)

# irisHead에 새로운 데이터 1,1,1,1,setosa 추가하기 
irisHead <- rbind(irisHead,c(1,1,1,1,"setosa"))

#irisHead 에 abc라는 컬럼과 2,2,2,2,2,2 의 데이터 추가하기
abc <- rep(2,6)
print(abc)
cbind(irisHead,abc)

cbind(irisHead,abc=rep(2,6)) #한번에 적어줄수있음

[1] 2 2 2 2 2 2

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5            3.6         1.4          0.2         setosa  2
6 1            1           1            1           setosa  2

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5            3.6         1.4          0.2         setosa  2
6 1            1           1            1           setosa  2

In [139]:
irisHead <-cbind(irisHead,abc=rep(2,6))

In [140]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc abc
1 5.1          3.5         1.4          0.2         setosa  2   2
2 4.9          3           1.4          0.2         setosa  2   2
3 4.7          3.2         1.3          0.2         setosa  2   2
4 4.6          3.1         1.5          0.2         setosa  2   2
5 5            3.6         1.4          0.2         setosa  2   2
6 1            1           1            1           setosa  2   2

In [148]:
# iris의 1~5번 데이터만 추출하여 irisHead라는 데이터 셋 만들기

irisHead=iris[1:5,]
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [149]:
irisHead$Sepal.Length + irisHead$Petal.Length
#irisHead <- cbind(irisHead,Length=irisHead$Sepal.Length + irisHead$Petal.Length)
#아래처럼 적어야 아무리 많이 실행해도 데이터가 계속 추가되는 일이 없음!
irisHead$Length <-irisHead$Sepal.Length + irisHead$Petal.Length

[1] 6.5 6.3 6.0 6.1 6.4

In [150]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [155]:
# iris에서 Sepal.Length 와 Sepal.Width 만 추출하여 irisM이라는 데이터프레임 만들기

sl <-iris$Sepal.Length
sw <- iris$Sepal.Width

irisM <- cbind(sl,sw)
class(irisM)

[1] "matrix"

In [156]:
irisM <- as.data.frame(irisM)
class(irisM)
irisM

[1] "data.frame"

    sl  sw
1   5.1 3.5
2   4.9 3.0
3   4.7 3.2
4   4.6 3.1
5   5.0 3.6
6   5.4 3.9
7   4.6 3.4
8   5.0 3.4
9   4.4 2.9
10  4.9 3.1
11  5.4 3.7
12  4.8 3.4
13  4.8 3.0
14  4.3 3.0
15  5.8 4.0
16  5.7 4.4
17  5.4 3.9
18  5.1 3.5
19  5.7 3.8
20  5.1 3.8
21  5.4 3.4
22  5.1 3.7
23  4.6 3.6
24  5.1 3.3
25  4.8 3.4
26  5.0 3.0
27  5.0 3.4
28  5.2 3.5
29  5.2 3.4
30  4.7 3.2
... ... ...
121 6.9 3.2
122 5.6 2.8
123 7.7 2.8
124 6.3 2.7
125 6.7 3.3
126 7.2 3.2
127 6.2 2.8
128 6.1 3.0
129 6.4 2.8
130 7.2 3.0
131 7.4 2.8
132 7.9 3.8
133 6.4 2.8
134 6.3 2.8
135 6.1 2.6
136 7.7 3.0
137 6.3 3.4
138 6.4 3.1
139 6.0 3.0
140 6.9 3.1
141 6.7 3.1
142 6.9 3.1
143 5.8 2.7
144 6.8 3.2
145 6.7 3.3
146 6.7 3.0
147 6.3 2.5
148 6.5 3.0
149 6.2 3.4
150 5.9 3.0

In [167]:
# mat1의 컬럼 이름 추가

mat1
colnames(mat1) <- c('A','B','C')
mat1
class(mat1)
mat1D <-as.data.frame(mat1)
class(mat1D)

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

[1] "matrix"

[1] "data.frame"

In [172]:
# mat2에 로우이름 추가 하기

mat2
rownames(mat2) <- 1:3

print(mat2)
mat2D <- as.data.frame(mat2)
class(mat2D)

  vec1 vec2 vec3
1 1    4    7
2 2    5    8
3 3    6    9

  vec1 vec2 vec3
1    1    4    7
2    2    5    8
3    3    6    9

[1] "data.frame"

In [184]:
# mat1D와 mat2D 를 하나의 데이터셋으로 합치기
mat1D
colnames(mat2D) <- colnames(mat1D)
rbind(mat1D,mat2D)

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9
1    1 4 7
2    2 5 8
3    3 6 9

---
# DataFrame
- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [10]:
# 벡터로 데이터 프레임 만들기

no <- 1:4
name <-c('Apple','Banana','Peach','Berry')
price <-c(500,400,300,200)
qty <-c(5,2,7,9)

In [11]:
fruit <-data.frame(번호=no,상품명=name,금액=price,재고량=qty, stringsAsFactors=F) 
#factor 아닌 char로 나오게 하기 위해서 써줌 factor는 숫자도 함께 포함되어 있기에 용량이 큼 그래서 굳이 안해도 되는 애들은 바꿔주는 것 
fruit

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

In [12]:
str(fruit)

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: chr  "Apple" "Banana" "Peach" "Berry"
 $ 금액  : num  500 400 300 200
 $ 재고량: num  5 2 7 9

In [13]:
summary(fruit)

      번호         상품명               금액         재고량
 Min.   :1.00   Length:4           Min.   :200   Min.   :2.00
 1st Qu.:1.75   Class :character   1st Qu.:275   1st Qu.:4.25
 Median :2.50   Mode  :character   Median :350   Median :6.00
 Mean   :2.50                      Mean   :350   Mean   :5.75
 3rd Qu.:3.25                      3rd Qu.:425   3rd Qu.:7.50
 Max.   :4.00                      Max.   :500   Max.   :9.00

In [17]:
# fruit 에서 상품명과 재고량만 보기

fruit[,c(2,4)]

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

In [18]:
# fruit 에서 번호를 제외한 모든 내용보기
fruit[,-1]

  상품명 금액 재고량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  7
4 Berry  200  9

In [21]:
#fruit에서 2,4번째 행을 제외한 상품명, 금액, 재고량만 출력하기

fruit
fruit[-c(2,4),2:4]

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

  상품명 금액 재고량
1 Apple  500  5
3 Peach  300  7

In [26]:
#재고금액(금액*재고량) 이라는 컬럼 생성하여 fruit에 붙이기

fruit$재고금액 <- fruit$금액*fruit$재고량
fruit

  번호 상품명 금액 재고량 재고금액
1 1    Apple  500  5      2500
2 2    Banana 400  2       800
3 3    Peach  300  7      2100
4 4    Berry  200  9      1800

In [27]:
fruit$원산지 <- c('한국','태국','한국','중국')
fruit

  번호 상품명 금액 재고량 재고금액 원산지
1 1    Apple  500  5      2500     한국
2 2    Banana 400  2       800     태국
3 3    Peach  300  7      2100     한국
4 4    Berry  200  9      1800     중국

---
# 외부 file 불러오기

In [35]:
# txt File 불러오기

txtEmp <- read.table("../Data/emp.txt", header = T, sep = "/" )
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [45]:
# 한글이 꺠질때

txtEmp <- read.table("../Data/emp.txt",header = T,sep = "/" , fileEncoding = "utf-8", stringsAsFactors = F)
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [46]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: chr  "hong" "lee" "kim"
 $ 급여: int  150 250 300

In [54]:
# csv(Comma Separated Value) 콤마로 구분된 데이터
 csvEmp <- read.csv("../Data/emp2.csv", header=F, stringsAsFactors = F)

#사번, 이름, 급여로 컬럼 변경하기

colnames(csvEmp) <- c('사번', '이름', '급여')
csvEmp

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400

In [55]:
str(csvEmp)

'data.frame':	5 obs. of  3 variables:
 $ 사번: int  101 102 103 104 105
 $ 이름: chr  "홍길동" "이순신" "강감찬" "유관순" ...
 $ 급여: int  150 450 500 350 400

In [1]:
class(csvEmp)

ERROR: Error in eval(expr, envir, enclos): 객체 'csvEmp'를 찾을 수 없습니다

In [15]:
df <- data.frame(x=c(1:5),y=seq(2,10,2),z=c('a','b','c','d','e'))
class(df)
df
str(df)

[1] "data.frame"

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

'data.frame':	5 obs. of  3 variables:
 $ x: int  1 2 3 4 5
 $ y: num  2 4 6 8 10
 $ z: Factor w/ 5 levels "a","b","c","d",..: 1 2 3 4 5

In [11]:
# x컬럼의 합계는 15이고 y컬럼의 합계는30 입니다

cat('x컬럼의 합계는',sum(df$x),'이고 y컬럼의 합계는', sum(df$y),'입니다')

x컬럼의 합계는 15 이고 y컬럼의 합계는 30 입니다

### 함수를 부르는 함수

In [20]:
# 데이터 프레임에 함수 적용 (열방향)
apply(df[,1:2], 2, sum)
apply(df[,1:2], 2, mean)
apply(df[,1:2], 2, sd)

 x  y
15 30

x y
3 6

       x        y
1.581139 3.162278

In [22]:
#데이터 프레임에 함수 적용 (행방향)
apply(df[,1:2],1,sum)
apply(df[,1:2],1,mean)
apply(df[,1:2],1,sd)

[1]  3  6  9 12 15

[1] 1.5 3.0 4.5 6.0 7.5

[1] 0.7071068 1.4142136 2.1213203 2.8284271 3.5355339

In [25]:
# df에 Hap 이라는 컬럼을 만들어서 행방향에 합계 구하기
df
apply(df[,1:2],1,sum)
df$Hap = apply(df[,1:2],1,sum)
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

[1]  3  6  9 12 15

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [28]:
#부분집합
df
subset(df,x>=3)
subset(df,x>=3 & y>=8)

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

In [36]:
# 4번행과 5번행의 x컬럼과 y컬럼의 합계를 구하기
df
subset(df)[4:5,1:2]
apply(subset(df)[4:5,1:2],2,sum)

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y
4 4  8
5 5 10

 x  y
 9 18

---
### 두개 이상의 데이터 프레임 병합하기

In [40]:
#case 1 : key값이 되는 컬럼이 동일하고, data의 갯수도 동일한 경우 

height <- data.frame(id=c(1:3),height =c(160,170,180))
weight <- data.frame(id=c(2,1,3),weight =c(70,60,80))

height
weight

  id height
1 1  160
2 2  170
3 3  180

  id weight
1 2  70
2 1  60
3 3  80

In [41]:
merge(height,weight)  #알아서 key 값으로 맞춰줌

  id height weight
1 1  160    60
2 2  170    70
3 3  180    80

In [42]:
#case 2 : key값이 되는 컬럼이 동일하지 않고 , 각각의 data 갯수도 다를 경우

height <- data.frame(id=1:3, height=c(160,170,180)) ; height
weight <- data.frame(ad=c(2,1), weight=c(70,60)); weight

  id height
1 1  160
2 2  170
3 3  180

  ad weight
1 2  70
2 1  60

In [43]:
merge(height,weight)

  id height ad weight
1 1  160    2  70
2 2  170    2  70
3 3  180    2  70
4 1  160    1  60
5 2  170    1  60
6 3  180    1  60

In [44]:
# key를 정의하기 : data가 적은쪽의 기준으로 merge 한다 (교집합)

merge(x=height, y=weight, by.x='id', by.y='ad')

  id height weight
1 1  160    60
2 2  170    70

In [45]:
#data가 많은쪽 기준은로 merge (합집합)

merge(x=height, y=weight, by.x='id', by.y='ad',all.x=T) #x를 다보여주겠다

  id height weight
1 1  160    60
2 2  170    70
3 3  180    NA

### 행렬 함수로 행렬 만들기

In [48]:
matrix(1:10)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

In [49]:
matrix(1:10,nrow=2)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

In [52]:
matrix(1:10,nrow=3)  #벡터가 반복되어서 나옴 
matrix(1:10,nrow=3,ncol=3) #하나가 소실됨

Warning message in matrix(1:10, nrow = 3):
“데이터의 길이[10]가 행의 개수[3]의 배수가 되지 않습니다”

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8     1
[3,] 3    6    9     2

Warning message in matrix(1:10, nrow = 3, ncol = 3):
“데이터의 길이[10]가 행의 개수[3]의 배수가 되지 않습니다”

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### List
- Type이 다른 자료구조로 생성이 가능하다.
- key와 value값으로 구성된다.

In [58]:
member <- list(name='홍길동', address='서울', tel='010-1111-2222', pay=300)
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

In [59]:
member$name

[1] "홍길동"

In [60]:
member$birth <- '1988-08-08'
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

$birth
[1] "1988-08-08"

---
# 문자열 처리
수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업

### stringr package사용
- str_length() : 문자열 길이
- str_c() : 문자열 연결
- str_sub() : 범위에 해당하는 문자열 생성
- str_split() : 구분자를 기준으로 문자열을 분리하여 부분 생성
- str_replace() : 문자열에서 기존 문자열을 특정 문자열로 변환 / str_replace_all()
- str_extract() : 문자열에서 특정 문자열 패턴의 첫번째 문자열 추출 / str_extract_all()
- str_locate() : 문자열에서 특정 문자열 패턴의 첫번째 위치 추출 / str_locate_all()

In [64]:
# 패키지 불러오기

library(stringr)

In [67]:
string <- "hongkildong105yoube1002kwanwoo25장비2005"

In [68]:
# a-z까지의 영문자가 연속으로 3개 발견된 문자열 추출

str_extract_all(string, "[a-z]{3}")

[[1]]
[1] "hon" "gki" "ldo" "you" "kwa" "nwo"

In [70]:
# a-z까지의 영문자가 연속으로 3개-5개 발견된 문자열 추출

str_extract_all(string, "[a-z]{3,5}")

[[1]]
[1] "hongk" "ildon" "yoube" "kwanw"

In [78]:
# a-z까지의 영문자가 연속으로 1개 이상 발견된 문자열 추출

aaa <- str_extract_all(string, "[a-z]{1,}") #1개 이상이라는 의미 
class(aaa)
bbb<- unlist(aaa) #리스트 제거 
bbb
class(bbb) #제거하니까 일반 벡터가 돼서 하나씩 출력 가능해짐 
bbb[1]

[1] "list"

[1] "hongkildong" "yoube"       "kwanwoo"

[1] "character"

[1] "hongkildong"

In [91]:
# string에서 숫자만 출력하여 합계구하기
string
ccc <- str_extract_all(string, "[0-9]{1,}")
ddd <- unlist(ccc)
ddd<- as.numeric(ddd)

class(ddd)
sum(ddd)

sum(as.numeric(unlist( str_extract_all(string, "[0-9]{1,}"))))

[1] "hongkildong105yoube1002kwanwoo25장비2005"

[1] "numeric"

[1] 3137

[1] "numeric"

[1] 3137

In [97]:
# 한글만 추출하기
str_extract_all(string,"[가-힣]{1,}")

[[1]]
[1] "장비"

In [98]:
# 영문자를 제외한 문자 출력하기

str_extract_all(string,"[^a-z]{1,}") #^이 not

[[1]]
[1] "105"        "1002"       "25장비2005"

In [99]:
# 문자열 길이 구하기

str_length(string)

[1] 38

In [100]:
# 문자열 위치 구하기 

str_locate(string, "장비")

     start end
[1,] 33    34

In [106]:
# 부분 문자열 추출

str_sub(string,1,32)
str_sub(string,1,str_locate(string,"장비")[1]-1)

[1] "hongkildong105yoube1002kwanwoo25"

[1] "hongkildong105yoube1002kwanwoo25"

In [107]:
# 대문자, 소문자 변경하기

str_to_upper(string)
str_to_lower(string)

[1] "HONGKILDONG105YOUBE1002KWANWOO25장비2005"

In [113]:
# 문자열 교체하기

string <- str_replace(string, "hongkildong105","홍길동35,")
string <- str_replace(string,"yoube1002","유비45,")
string <- str_replace(string,"kwanwoo25","관우25,")
string <- str_replace(string,"2005","20")

string

[1] "홍길동35,유비45,관우25,장비20"

In [114]:
# 문자열 분리하기
str_split(string,",")

[[1]]
[1] "홍길동35" "유비45"   "관우25"   "장비20"

In [131]:
# 천단위 쉼표가 들어간 문자열을 숫자로 변경하기

price <- "123,456,789"

as.numeric(str_replace_all(price,",",""))

[1] 123456789

In [133]:
price <- "123,456,789"
as.numeric(str_remove_all(price,","))

[1] 123456789

In [138]:
# NA를 변경하기

temp <- c(1,2,NA,4)
temp
sum(temp)

as.numeric(str_replace_na(temp,10))

[1]  1  2 NA  4

[1] NA

[1]  1  2 10  4