In [5]:
x <- 10
y <- runif(1)*100

if(x>y){
    print("x>runif()")
}
          print("-----end-----")

[1] "-----end-----"

In [6]:
x <- 10
y <- runif(1)*100

if(x>y){
    print("x>runif()")
}else{
     print("x<=runif()")
}
          print("-----end-----")

[1] "x<=runif()"
[1] "-----end-----"

In [11]:
x <- 10
y <- runif(1)*100

if(x>y){
    print("x>runif()")
}else if(x<y){
     print("x<runif()")
}else{
    print("x=runif()")
}

[1] "x<runif()"

In [20]:
# 홀수 짝수 구분

a <-c(8,7,6)  #if else는 벡터값을 처리못해줌 

if(a%%2==0){
   sprintf("%i은(는) 짝수",a)
}else{
    cat(a,"은(는) 홀수")
}

Warning message in if (a%%2 == 0) {:
“length > 1 이라는 조건이 있고, 첫번째 요소만이 사용될 것입니다”

[1] "8은(는) 짝수" "7은(는) 짝수" "6은(는) 짝수"

In [25]:
a <- c(8,7,6)

#ifelse는 벡터처리가 가능

ifelse(a %% 2 ==0, sprintf("%i : 짝수",a),sprintf("%i : 홀수",a))

[1] "8 : 짝수" "7 : 홀수" "6 : 짝수"

In [30]:
ifelse(a%%2==0,paste(a," : 짝수"),paste(a, ":홀수"))

[1] "8  : 짝수" "7 :홀수"   "6  : 짝수"

In [6]:
## 사용자로부터 data 를 입력받아 입력한 숫자가 홀수인지 짝수인지 판단하여 출력하기

num1 <- as.integer(readline("숫자를 입력하세요 :"))

# 입력한 숫자는 12이고 짝수입니다.

ifelse(num1%%2==0,sprintf("입력하신 숫자는 %i 이고 짝수입니다",num1),sprintf("입력하신 숫자는 %i 이고 홀수입니다",num1))

숫자를 입력하세요 :12

[1] "입력하신 숫자는 12 이고 짝수입니다"

In [5]:
score <- as.integer(readline("점수를 입력하세요 :"))
if (score>=90){
    print("A학점 입니다.")
}else if(score>=80){
    print("B학점 입니다.")
}else if (score>=70){
    print("C학점 입니다.")
}else if (score>=60){
    print("d학점 입니다.")
    
}else{
    print("F학점 입니다.")
}

점수를 입력하세요 :66
[1] "d학점 입니다."

---
### csv file 불러서 사용하기

In [10]:
excel <- read.csv("../Data//excel.csv")
head(excel)
tail(excel)
str(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

    q1 q2 q3 q4 q5
397 2  3  5  2  4
398 4  3  3  2  4
399 2  4  4  2  3
400 2  2  5  2  4
401 2  3  4  2  4
402 2  2  4  2  4

'data.frame':	402 obs. of  5 variables:
 $ q1: int  2 1 2 3 3 4 3 4 4 4 ...
 $ q2: int  4 2 3 5 2 3 4 2 4 2 ...
 $ q3: int  4 2 4 5 4 3 4 4 5 4 ...
 $ q4: int  2 2 3 3 4 4 2 4 3 2 ...
 $ q5: int  2 2 3 3 4 2 2 4 4 3 ...

In [17]:
# q1컬럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 data를 출력하기

q1<-excel$q1
length(q1)

print(ifelse(q1>=3,round(sqrt(q1),4),q1))

[1] 402

  [1] 2.0000 1.0000 2.0000 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000 2.0000
 [11] 2.0000 1.7321 1.7321 1.7321 1.0000 1.7321 1.7321 1.7321 2.0000 1.7321
 [21] 1.7321 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321
 [31] 1.0000 1.7321 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000 1.7321 2.0000
 [41] 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 1.0000 2.0000 1.7321
 [51] 2.0000 2.0000 1.7321 2.0000 1.7321 2.0000 2.0000 2.0000 2.0000 1.7321
 [61] 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 1.7321 2.0000 1.0000 2.0000
 [71] 1.7321 1.7321 1.7321 2.0000 2.0000 2.0000 1.0000 1.7321 1.7321 2.0000
 [81] 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000
 [91] 2.0000 2.0000 2.0000 2.0000 1.0000 2.0000 2.0000 2.0000 2.0000 2.0000
[101] 1.7321 1.7321 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000
[111] 2.0000 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000
[121] 1.0000 1.7321 2.0000 1.7321 1.7321 2.0000 1.7321 1.7321 1.7321 2.0000
[131] 2.0000 2.0000 1.0000 1.7321 1.7321 2.0000 1.7321 2.0000 1.7321 1.0000
[141] 2.0000 1.7321 2.2361 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000
[151] 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000
[161] 2.0000 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 2.0000 2.0000
[171] 1.0000 1.7321 1.7321 2.0000 1.7321 2.0000 1.7321 1.0000 2.0000 1.7321
[181] 2.2361 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321
[191] 1.0000 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321
[201] 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 2.0000
[211] 1.7321 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 1.7321 2.0000 1.7321
[221] 2.0000 1.7321 1.0000 2.0000 1.7321 2.2361 2.0000 1.7321 1.7321 2.0000
[231] 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321
[241] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000 1.7321
[251] 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000
[261] 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 2.0000 1.7321 1.7321
[271] 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000
[281] 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000
[291] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000
[301] 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 1.7321 2.0000
[311] 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321
[321] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000 1.7321
[331] 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000
[341] 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 2.0000 1.7321 1.7321 1.0000
[351] 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000
[361] 2.0000 1.7321 1.0000 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000
[371] 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000
[381] 1.7321 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321
[391] 1.0000 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000
[401] 2.0000 2.0000

In [31]:
#q1컬럼에서 data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 data를 q6라는 컬럼을 만들어 추가하기 
excel

excel$q6 <- ifelse(excel$q1>=3,sqrt(excel$q1),excel$q1)

    q1  q2  q3  q4  q5  q6
1   2   4   4   2   2   2.000000
2   1   2   2   2   2   1.000000
3   2   3   4   3   3   2.000000
4   3   5   5   3   3   1.732051
5   3   2   4   4   4   1.732051
6   4   3   3   4   2   2.000000
7   3   4   4   2   2   1.732051
8   4   2   4   4   4   2.000000
9   4   4   5   3   4   2.000000
10  4   2   4   2   3   2.000000
11  4   4   4   3   3   2.000000
12  3   1   4   3   4   1.732051
13  3   2   4   3   4   1.732051
14  3   4   3   4   5   1.732051
15  1   3   2   2   3   1.000000
16  3   4   2   3   4   1.732051
17  3   2   1   1   3   1.732051
18  3   3   3   4   3   1.732051
19  2   2   4   3   2   2.000000
20  3   4   4   3   4   1.732051
21  3   4   5   2   4   1.732051
22  4   3   4   2   3   2.000000
23  2   2   2   1   4   2.000000
24  2   3   4   3   5   2.000000
25  3   4   4   2   4   1.732051
26  4   2   3   3   2   2.000000
27  4   4   4   4   3   2.000000
28  4   4   5   3   3   2.000000
29  3   2   2   3   4   1.732051
30  3   2   4   3   5   1.732051
... ... ... ... ... ... ...
373 4   4   3   4   5   2.000000
374 2   3   4   3   3   2.000000
375 2   4   5   3   5   2.000000
376 3   3   4   2   3   1.732051
377 3   2   2   2   3   1.732051
378 3   2   4   2   3   1.732051
379 2   4   5   2   2   2.000000
380 1   2   3   1   3   1.000000
381 3   1   2   3   5   1.732051
382 4   3   3   3   5   2.000000
383 3   4   4   3   3   1.732051
384 3   4   3   4   3   1.732051
385 2   2   2   2   4   2.000000
386 4   3   5   4   2   2.000000
387 3   2   3   3   4   1.732051
388 2   4   4   3   2   2.000000
389 3   2   2   1   4   1.732051
390 3   2   4   2   4   1.732051
391 1   2   2   2   2   1.000000
392 3   2   4   3   4   1.732051
393 2   4   4   3   4   2.000000
394 4   3   5   3   2   2.000000
395 3   1   2   1   1   1.732051
396 3   4   4   3   2   1.732051
397 2   3   5   2   4   2.000000
398 4   3   3   2   4   2.000000
399 2   4   4   2   3   2.000000
400 2   2   5   2   4   2.000000
401 2   3   4   2   4   2.000000
402 2   2   4   2   4   2.000000